# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django secret files
.env
*.env
.env/

# Django stuff
*.log
staticfiles/
media/

# SQLite (si utilisé)
db.sqlite3

# IDE files
.vscode/
.idea/
*.swp
